<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="heading" class="box">
        <h1 id="title"><%= title %></h1>
    </div>
    
    <div id="tasks" class="box">
        <% tasks.forEach(task => { %>
            <div class="item">
                <% if(task.completed) { %> 
                    <input class="task-check" type="checkbox" checked>
                <% } else { %>
                    <input class="task-check" type="checkbox">
                <% } %> 
                <p class="task" data-id="<%= tasks.indexOf(task) %>" title="<%= task.description %>"><%= task.title %>
                <span class="delete">X</span>
                </p>
            </div>
        <% }) %>

        <form class="item" action="/" method="POST">
            <input type="text" name="task" placeholder="Add new task..." required autocomplete="off">
            <button type="submit">+</button>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    
    <script>
        $('.delete').click(function() {
            const del_btn = $(this);
            const id = del_btn.parent().attr('data-id');
            console.log(id);
            $.ajax({
                url: '/delete',
                type: 'POST',
                data: JSON.stringify({ id }),
                contentType: 'application/json',
                success: function() {
                    del_btn.parent().parent().remove();
                },
                error: function( err ) {
                    console.log('Error deleting task ' + err);
                }
            });
        });

        $('.task-check').click(function() {
            const id = $(this).parent().find('p').attr('data-id');
            $.ajax({
                url: '/update',
                type: 'POST',
                data: JSON.stringify({ id }),
                contentType: 'application/json',
                success: function() {
                }
            });
        });
        
    </script>

</body>
</html>