<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="heading" class="box">
        <h1 id="Date"><%= date %></h1>
    </div>
    
    <div id="tasks" class="box">
        <% tasks.forEach(task => { %>
            <div class="item">
                <input type="checkbox">
                <p class="task" data-id="<%= tasks.indexOf(task) %>"><%= task %>
                <span class="delete">X</span>
                </p>
            </div>
        <% }) %>

        <form class="item" action="/" method="POST">
            <input type="text" name="task" placeholder="Add new task..." required autocomplete="off">
            <button type="submit">+</button>
        </form>

    </div>

    <script>
        const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                const id = btn.parentElement.dataset.id;
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/delete');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = () => {
                    if (xhr.status === 200) {
                        btn.parentElement.parentElement.remove();
                    }
                };
                xhr.send(JSON.stringify({ index: id }));
            });
        });
    </script>

</body>
</html>